h3	{
	text-align: center;
}

table	{
	margin: 0 auto;
}

.status-input	{
	vertical-align: middle;
}

.submitbutton	{
	text-align: center;
}

#profilepic{
	border-radius: 50%;
	margin: auto;
	display: block;
}

.sidenav {
 	height: auto;
 	width: 75px;
 	position: fixed;
 	top: auto;
 	right: 0;
 	overflow-x: hidden;
 	transition: 0.3s ease-out;
}

.sidenav > div	{
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

.sidenav > button	{
	display: block;
	margin:	0 auto;
}

div > dl	{
	background-color: #1E90FF;
	border-radius: 10px;
}

#back-page	{
	width: 40px;
}

#back-page-2	{
	width: 40px;
}

#back-page-3	{
	width: 40px;
}

#loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #FFB6C1;
	border-radius: 60%;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	z-index: 1;
	position: absolute;  
	animation: spin 2s linear infinite;
}

#transbox {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #000000;
  	opacity: 0.3;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}