<!DOCTYPE html>

<html>
<head>
	<title>My First AJaX experience</title>
	<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
	{% csrf_token %}
	<div>
		<a href="/"><img src="/static/images/rotate2.svg" alt="back" id="back-page-2"></a>
	</div>
	<div id="cart">
		Total Cost
		<div id="cost">Rp 0</div>
	</div>
	<div id="data_place">
		Please Wait...
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/js/ajax1.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>