<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css">
	<link id="theme" rel="stylesheet" href="/static/css/themes/light.css">
	<meta charset="utf-8">
	<title>Zafir Rasyidi Taufik</title>
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="transbox"></div>
	<div id="loader"></div>
	<div>
		<a href="/profile"><img src="/static/images/rotate.svg" alt="back" id="back-page"></a>
	</div>
	<div>
		<a href="/ajaxku"><img src="/static/images/rotate2.svg" alt="back" id="back-page-2"></a>
	</div>
	<div>
		<a href="/login-register"><img src="/static/images/rotate3.svg" alt="back" id="back-page-3"></a>
	</div>

	<div class="sidenav">
		<div>
			Available
			Themes
		</div>
		<button id="theme-dark">Dark</button>
		<button id="theme-light">Light</button>
	</div>

	<section>
		<h3>Hello {{ user.username }} Apa Kabar?</h3>
		{% for status in all_status %}
			<div style="display: table">
				<tr>
					<td>{{ status.status_message }}</td>
					<td>{{ status.time }}</td>
				</tr>
			</div>
		{% endfor %}
		<form method="post">
			<table>
				{% csrf_token %}
				<tr colspan=2>{{ status_form }}</tr>
			</table>
			<div>
				<input id="sub_but" class="submitbutton" type="submit" value="Submit" />
			</div>
		</form>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/js/mine.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>