

table	{
	table-layout: auto;
}

td	{
	width: 33%;
	border: 1px solid black;
	word-wrap: break-word;
}

input	{
	border: none;
}

#back-page-2	{
	width: 40px;
}


#cart {
 	height: auto;
 	width: 75px;
 	position: fixed;
 	top: auto;
 	right: 0;
 	overflow-x: hidden;
 	transition: 0.3s ease-out;
}

#cart > div	{
	border-style: solid;
	border-width: 1px;
	text-align: center;
}