<!DOCTYPE html>

<html>
<head>
	<title>Zafir</title>
</head>
<body>
	<div>
		<a href="/"><img src="/static/images/rotate3.svg" alt="back" id="back-page-3" style="width: 40px"></a>
	</div>
	<form method ="POST">
		Register
		{% csrf_token %}
		<table>
			{{ registerForm }}
		</table>
		<button id="sub_but" type="submit" class="btn btn-primary" disabled>Kirim</button>
		<p><strong>-- OR --</strong></p>
		Login
		{% csrf_token %}
		<table>
			{{ loginForm }}
		</table>
		<button id="sub_but" type="submit" class="btn btn-primary" disabled>Kirim</button>
	</form>
	<br>
	<br>
	<br>
	<button id="bad_but">Push me!</button>
	<table id="poo"></table>
	<p><strong>-- OR --</strong></p>
  	<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/js/register.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>